<div class="activity-header">
    <span class="text descriptive">26 de Noviembre, 18:30 h (15
        minutos)</span>
    <h3>Actividad Custom</h3>
</div>
<div class="activity-content">
    <div class="previous-notes">
        <span class="text">Notas adicionales de la llamada anterior</span>
        <h4 class="medium">La noté muy preocupada por comer carne y ansiosa por saber cuánto tiempo más duraría el
            tratamiento hasta ver resultados. La noté muy distraida por temas de trabajo y problemas en la casa.</h4>
    </div>
    <hr class="activity-separator">
    <div class="form-control after-dots">
        <label class="text">Notas</label>
        <textarea></textarea>
    </div>
    <div class="form-checkbox">
        <app-custom-checkbox></app-custom-checkbox>
        <label class="text">Recordar en la próxima llamada</label>
    </div>
</div>
<div class="activity-footer">
    <button class="terciary-button">
        Terminar Actividad
    </button>
</div>