.form-title {
    margin-bottom: 88px;
}

.session-form {
    position: relative;
}

.close-button,
.back-button {
    position: absolute;
    color: #797D90;
    cursor: pointer;
    top: 36px;
}

.back-button {
    left: 36px;
}

.close-button {
    right: 36px;
}

.main-button {
    margin-top: 56px;
}