<div class="session-form-container">
    <form [formGroup]="recoverForm" class="session-form" (ngSubmit)="recover()" *ngIf="!showMessage; else message">
        <mat-icon setFont="material-icons-round" class="back-button" routerLink="/login">arrow_back</mat-icon>
        <img src="/assets/img/Logotype B.svg" class="logo">
        <h3 class="form-title">Para recuperar tu contraseña, ingresa tu email</h3>
        <div class="form-control">
            <label class="text">Correo electrónico</label>
            <input type="email" formControlName="email">
        </div>
        <button class="main-button">Recuperar</button>
    </form>
    <ng-template #message>
        <div class="session-form">
            <mat-icon setFont="material-icons-round" class="close-button" (click)="showMessage = false;">close</mat-icon>
            <img src="/assets/img/Logotype B.svg" class="logo">
            <h3 class="form-title">Te hemos enviado un email <strong>atenea.lara@gmail.com.</strong> Sigue las
                instrucciones para recuperar tu password.</h3>
            <button class="main-button" routerLink="/login">Iniciar Sesión</button>
        </div>
    </ng-template>
</div>